.jif{
    height:200px;
    max-width:300px;
    margin:10px;
}
#gifsDisplay{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
p{
    text-align: center;
}
.hero{
    text-align:center;
    padding:20px;
    font-size:40px;
    background-color: skyblue;
    margin:0px;
}
#gifsButtons{
    margin: 10px;
    justify-content:center;
    border: 1px solid black;
    padding:10px;    
    background-color: white;
}
.animals {
    margin:10px;
}
form{
    margin:10px;
    padding:20px;
    text-align:center;
}
input + button{
    margin-left:20px;
}
input, button{
    padding:5px;
}
.border{
    margin:0;
    padding:10px;
    background-color: lightblue;
}
.shade{
    margin:0;
}